{% extends 'layouts/base.html' %}
{% block title %}Lista de Ubicaciones{% endblock %}

{% block content %}
<div class="mb-8">
	<h1 class="text-3xl font-bold text-slate-800 mb-2 dark:text-white">Lista de Ubicaciones</h1>
	<p class="text-slate-600 dark:text-gray-300">Administra las ubicaciones que serán asignadas en los inventarios.</p>
</div>

<div class="flex flex-wrap gap-4 mb-8">
    <a href="{{url_for('inventario.lista_inventario')}}" class="bg-transparent text-white font-semibold hover:text-gray-400 py-2 px-4 border border-white hover:border-gray-400 rounded">Volver</a>
	<a href="{{url_for('ubicaciones.crear_ubicacion')}}" class="bg-transparent text-green-500 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-white rounded">Crear ubicación</a>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="min-w-full text-sm text-left text-gray-700 dark:text-gray-300">
    <thead class="text-xs uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-300">
      <tr>
        <th class="px-6 py-3">Código de Ubicación</th>
        <th class="px-6 py-3">Estantería</th>
        <th class="px-6 py-3">Nivel</th>
        <th class="px-6 py-3">Categoría</th>
        <th class="px-6 py-3">Capacidad</th>
        <th class="px-6 py-3">Descripción</th>
        <th class="px-6 py-3 text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for ubicacion in ubicaciones | reverse %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 transition">
        <td class="px-6 py-4 whitespace-nowrap text-slate-700 dark:text-gray-200">{{ ubicacion.ubi_codigo }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-slate-700 dark:text-gray-200">{{ ubicacion.ubi_estanteria }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-slate-700 dark:text-gray-200">{{ ubicacion.ubi_nivel }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-slate-700 dark:text-gray-200">{{ categorias_map[ubicacion.ubi_cat_id] }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-slate-700 dark:text-gray-200">{{ ubicacion.ubi_capacidad }}</td>
        <td class="px-6 py-4 text-slate-700 dark:text-gray-200">{{ ubicacion.ubi_descripcion }}</td>

        <td class="px-6 py-4 text-center">
          <div class="flex justify-center items-center gap-3">
            <a href="{{url_for('ubicaciones.editar_ubicacion', ubi_codigo=ubicacion.ubi_codigo)}}" 
               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
              <span class="ml-1 hidden sm:inline">Editar</span>
            </a>
            <a href="#" 
               onclick="return confirm('¿Está seguro de que desea eliminar este proveedor?');"
               class="font-medium text-red-600 dark:text-red-500 hover:underline">
              <span class="ml-1 hidden sm:inline">Borrar</span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}