{% extends 'layouts/base.html' %}

{% block title %}Crear Unidad - Warehouse Management System{% endblock %}
{% block content %}
<div class="flex flex-col items-center justify-center min-h-[60vh] py-12">
    <div class="w-full max-w-md bg-white rounded-xl shadow-lg p-8 border border-slate-100">
        <h2 class="text-2xl font-bold text-slate-800 mb-6 text-center">Crear Unidad</h2>
        <form method="post" action="">
            <div class="mb-4">
                <label for="nombre" class="block text-slate-700 font-medium mb-2">Nombre</label>
                <input type="text" id="nombre" name="nombre" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
            </div>
            <div class="mb-4">
                <label for="descripcion" class="block text-slate-700 font-medium mb-2">Descripción</label>
                <input type="text" id="descripcion" name="descripcion" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
            </div>
            <div class="flex gap-3 justify-center mt-6">
                <a href="{{url_for('unidad.lista_unidades')}}"
                    class="px-8 py-4 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-800 transition-all shadow-md hover:shadow-lg">
                    Cancelar
                </a>
                <button type="submit"
                    class="w-full py-3 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-800 transition-all shadow-md hover:shadow-lg">Crear
                    unidad</button>
            </div>
        </form>
    </div>
</div>
{% endblock%}